/* color scheme sourced from http: //khroma.co/generator/ */
:root {
    /*  */
    --moon-mist: #d4daca;
    --pickled-bluewood: #2b4951;
    /*  */
    --nebula: #cadbd5;
    --cerise: #d9228d;
    /*  */
    --tonys-pink: #e79a93;
    --mimosa: #fcfdc9;
    --iceberg: #d7f3f4;
    --grey-bull: #91a3af;
    /*  */
    --cavern-pink: #e0b8b3;
    --bali-hai: #839da9;
    --lime-spruce: #2c4045;
    --geyser: #dfe8e6;
}

body {
    display: flex;
    flex-flow: column wrap-reverse;
    /* align-content: space-between; */
    height: 1800px;
    background-color: var(--geyser);
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
}

header {
    order: 2;
    /* Header text start in bottom left of box */
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /* variable height */
    height: 110px;
    /* 94 */
    width: 93vw; 
    background-color: var(--lime-spruce);
    /* spaceing for the blocky style */
    margin-top: 130px;
    margin-left: 3vw;
    margin-right: -19vw;
}

header h1 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 12vh;
    margin-left: 6vh;
}

/*  */
/* ### ASIDE AND NAV WILL TAKE THE RIGHT SIDE OF THE PAGE */
/*  */

aside {
    order: 1;
    width: 150px;
    height: 1700px;
    /* margin for the blocky style*/
    margin-top: 3vh;
    margin-right: 9vw; 
    /* padding to position the text inside*/
    padding-top: 22vh;
    background-color: var(--bali-hai);
}

nav ul {
    /* The text stacks downward  */
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 200;
    padding-left: 1vw;
}

nav li {
    padding-block: 0.2em;
}
/*  */
/* ### EVERTHING BELOW WILL FIT ON LEFT SIDE */
/*  */
h2 {
    font-size: 2em;
    font-weight: 300;
}

main {
    order: 3;
    display: flex;
    /* Protfolio, About Me, and the footer(footer belongs to body)
    will stack along the left side */
    flex-direction: column;
    height: 1200px;
    width: 76vw;
}

.portfolio {
    display: flex;
    justify-content: left ;
    height: 800px;
    width: 76vw;
}

.portfolio h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cavern-pink);
    height: 5vw;
    width: 650px;
    transform-origin: top left;
    transform: rotate(-90deg);
    margin-top: 45vh;
    margin-left: 2vw;
}

.aboutMe {
    width: 76vw;
}

footer {
    order: 4;
    width: 76vw;
}