/* color scheme sourced from http: //khroma.co/generator/ */
:root {
    /*  */
    --moon-mist: #d4daca;
    --pickled-bluewood: #2b4951;
    /*  */
    --nebula: #cadbd5;
    --cerise: #d9228d;
    /*  */
    --tonys-pink: #e79a93;
    --mimosa: #fcfdc9;
    --iceberg: #d7f3f4;
    --grey-bull: #91a3af;
    /*  */
    --cavern-pink: #e0b8b3;
    --bali-hai: #839da9;
    --lime-spruce: #2c4045;
    --geyser: #dfe8e6;

    --header-width: 93%;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-flow: column wrap-reverse;
    align-content: center;
    height: 1800px;
    width: 100%;
    max-width: 1800px;
    background-color: var(--geyser);
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
}

header {
    order: 2;
    /* Header text starts in bottom left of box */
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 110px;
    width: var(--header-width); 
    /* background-color: var(--lime-spruce); */
    /* spaceing for the blocky style */
    margin-top: 130px;
    margin-left: 30px;
    margin-right: -220px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

header h1 {
    font-size: 4em;
    font-weight: 900;
    /* puts text above the header box */
    margin-bottom: 130px;
    margin-left: 60px;
}

/*  */
/* ### ASIDE AND NAV WILL TAKE THE RIGHT SIDE OF THE PAGE */
/*  */

aside {
    order: 1;
    width: 160px;
    height: 1700px;
    /* margin for the blocky style*/
    margin-top: 30px;
    margin-right: 90px; 
    /* padding to position the text inside*/
    padding-top: 230px;
    /* background-color: var(--bali-hai); */
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

nav ul {
    /* The text stacks downward  */
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 200;
    padding-left: .5em;
}

nav li {
    padding-block: 0.4em;
}

a {
    text-decoration: none;
    color: black;
}
/*  */
/* ### EVERTHING BELOW WILL FIT ON LEFT SIDE */
/*  */
h2 {
    font-size: 2em;
    font-weight: 300;
}

main {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    /* Protfolio and About Me will stack in the middle*/
    /* flex-direction: column; */
    height: 1200px;
    width: 100%;
    max-width: calc(var(--header-width) - 220px);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 800px;
    width: 100%;
    max-width: calc(var(--header-width) - 220px);
}

#portfolio-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--nebula); */
    /* color: var(--cerise); */
    border-style: solid;
    border-width: 3px;
    border-color: black;
    /* Make Text and box sideways, then face it inwards */
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    height: 950px;
    width: 70px;
    margin-top: 40px;
    /* margin-left: 10px; */
}

/* FOR TESTING */
section div {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#refractorIMG {
    height: 400px;
    width: 900px;
    margin: 3px;
    background-image: url("../images/unsplashFood.png");
    background-position: center;
    background-size: 100%;

}

#illusionsIMG {
    height: 300px;
    width: 350px;
    margin: 3px;
}

#droneIMG {
    height: 300px;
    width: 350px;
    margin: 3px;
}

#globalProjectIMG {
    height: 300px;
    width: 350px;
    margin: 3px;
}

#lightV2IMG {
    height: 300px;
    width: 350px;
    margin: 3px;
}

.aboutMe {
    width: 76vw;
}

footer {
    order: 4;
    width: calc(var(--header-width) - 220px);
}